:$PORT
root * /usr/share/caddy
file_server browse

header {
    X-Robots-Tag none
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
}

@websocket_trojango {
header Connection *Upgrade*
header Upgrade    websocket
path /trojango
}
reverse_proxy @websocket_trojango unix//etc/caddy
